<!DOCTYPE html>
<head lang="en">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title> PAC 12 </title>
</head>
<body>
{% if scroll %}
<script>
    document.location.hash = '#' + '{{ scroll }}';
</script>
{% endif %}
{% for firstName, lastName, Position, Height, Weight, Class, Hometown, College in stats %}
  <section id="result">
<div class="row">
<form id='detail_button' data-toggle="modal" data-target="#myModal" method="get" action="{{url_for('result')}}">
<input class="hidden" name="keywords" value={{query}}>
	<div id='{{img}}' class="thumbnail">
        <img src="{{ url_for('static',filename=img) }}" alt="Profile Picture">
        <div class="caption">
          <h3>{{firstName}} {{lastName}}</h3>
          <hr class="col-md-3">
		  <br>
          <p>
            <strong>Position :{{Position}}</strong>
            <br>
            <strong>Height :{{Height}}</strong>
            <br>
            <strong>Weight :{{Weight}}</strong>
            <br>
            <strong>Class :{{Class}} </strong>
            <br>
            <strong>Hometown :{{Hometown}}</strong>
            <br>
            <strong>College :{{College}}</strong>
            <br>
          </p>
          <br>
          <button class="btn btn-lg btn-success" type="submit">Go Back</button>

        </div>
      </div>
	</form>

  </div><!--row-->
  {% endfor %}
</body>