<!DOCTYPE html>
<head lang="en">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title> PAC 12 </title>
</head>
<body>
{% if scroll %}
<script>
    document.location.hash = '#' + '{{ scroll }}';
</script>
{% endif %}
<section id="search-page">
<div class="container">
	<div class=text-center>
		<img id="Logo" src="{{ url_for('static', filename='images/PAC_12_Logo.svg')}}">
	</div>
    <br/>
  <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form method="get" action="{{url_for('result')}}">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="{{query}}" name="keywords">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div>
</section>

<section id="result">
<div class="row">
{% for player in results %}
<form id='detail_button' data-toggle="modal" data-target="#{{player.counter}}">
	<div id='{{img}}' class="thumbnail">
        <img src="{{ url_for('static',filename=player.img) }}" alt="Profile Picture">
        <div class="caption">
          <h3>{{player.firstName}} {{player.lastName}}</h3>
          <hr class="col-md-3">
		  <br>
          <p>
            <strong>Position :{{player.Position}}</strong>
            <br>
            <strong>Height :{{player.Height}}</strong>
            <br>
            <strong>Weight :{{player.Weight}}</strong>
            <br>
            <strong>Class :{{player.Class}} </strong>
            <br>
            <strong>Hometown :{{player.Hometown}}</strong>
            <br>
            <strong>High School :{{player.HighSchool}}</strong>
            <br>
            <strong>College :{{player.College}}</strong>
            <br>
          </p>

        </div>
      </div>
	</form>
{% endfor %}

  </div><!--row-->

  </div>

  <a id="Go-top" href="#search-page">
	  <span class="glyphicon glyphicon-chevron-up"  aria-hidden="true"></span>
  </a>

	<!--No Result-->
  <div class="container hidden">
  	<div class="col-md-12">
              <div class="error-template">
                  <h1>Oops!</h1>
                  <h2>No results found</h2>
                  <div class="error-actions">
                   <a href="#search-page" class="btn btn-primary btn-lg">
  					<span class="	glyphicon glyphicon-arrow-up"></span>
  					Search Again
  				</a>
                  </div>
              </div>
          </div>
  </div>

   <!-- Modal -->
  {% for player in stats %}
  <div class="modal fade" id="{{player.counter}}" role="dialog">
  
      <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
    <h4 class="modal-title">{{player.firstName}} {{player.lastName}}</h4>
    </div>
       <div class="modal-body">
        <!--Content-->
         <div class="prof-page-info">
    <div class="row">
      <div class="col-md-3">
       <div class="prof-img">
        <img src="{{ url_for('static',filename=player.img) }}">
       </div>
      </div>

      <div class="col-7">
        <canvas id="radarChart" style="max-width: 500px;"></canvas>
        <script>
        //radar
        var ctxR = document.getElementById("radarChart").getContext('2d');
        var myRadarChart = new Chart(ctxR, {
          type: 'radar',
          data: {
            labels: ["Batting Average(avg)", "Slugging Percentage(SL)", "Sleeping", "Designing", "Coding", "Cycling", "Running"],
            datasets: [
              {
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [65, 59, 90, 81, 56, 55, 40]
              }
            ]
          },
          options: {
            responsive: true,
        chartArea: {'width': '100%', 'height': '80%'},
        scale: {
          pointLabels: {
          fontSize: 15
        }
        }
          }
        });
        </script>
      </div>

      <div class="col-md-4">
       <div class="prof-info">

       <div class="info"><label></i>Position :</label>  <span>6-9-1993</span></div>
       <div class="info"><label></i>Height :</label>  <span>{{Height}}</span></div>
       <div class="info"><label></i>Weight :</label>  <span>65Kg</span></div>
       <div class="info"><label></i>Class :</label>  <span>Maharashtra , India</span></div>
       <div class="info"><label></i>Hometown :</label>  <span>656605</span></div>
     <div class="info"><label></i>Hight School :</label>  <span>656605</span></div>
        </div>
      </div>
    </div>
  <div class="modal-footer">
   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
         </div>
  </div><!--Modal-->
  </div>
  </div>
  </div>
  {% endfor %}
  
  <!---->
</section>
</body>
