<!DOCTYPE html>
<head lang="en">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title> PAC 12 </title>
</head>
<body>
{% if scroll %}
<script>
    document.location.hash = '#' + '{{ scroll }}';
</script>
{% endif %}
<section id="search-page">
<div class="container">
	<div class=text-center>
		<img id="Logo" src="{{ url_for('static', filename='images/PAC_12_Logo.svg')}}">
	</div>
    <br/>
  <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form method="get" action="{{url_for('result')}}">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="{{query}}" name="keywords">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div>
</section>

<section id="result">
<div class="row">
{% for firstName, lastName, Position, Height, Weight, Class, Hometown, HighSchool,College,img in results %}
<form id='detail_button' data-toggle="modal" data-target="#myModal" method="get" action="{{url_for('Modal')}}">
<input class="hidden" name="query" value={{query}}>
<input class="hidden" name="img" value={{img}}>
<input class="hidden" name="firstName" value={{firstName}}>
<input class="hidden" name="lastName" value={{lastName}}>
<input class="hidden" name="College" value={{College}}>
	<div id='{{img}}' class="thumbnail">
        <img src="{{ url_for('static',filename=img) }}" alt="Profile Picture">
        <div class="caption">
          <h3>{{firstName}} {{lastName}}</h3>
          <hr class="col-md-3">
		  <br>
          <p>
            <strong>Position :{{Position}}</strong>
            <br>
            <strong>Height :{{Height}}</strong>
            <br>
            <strong>Weight :{{Weight}}</strong>
            <br>
            <strong>Class :{{Class}} </strong>
            <br>
            <strong>Hometown :{{Hometown}}</strong>
            <br>
            <strong>High School :{{HighSchool}}</strong>
            <br>
            <strong>College :{{College}}</strong>
            <br>
            <button class="btn btn-lg btn-success" type="submit">Detail</button>
            <br>
          </p>

        </div>
      </div>
	</form>

  {% endfor %}

  </div><!--row-->

  </div>

  <a id="Go-top" href="#search-page">
	  <span class="glyphicon glyphicon-chevron-up"  aria-hidden="true"></span>
  </a>

	<!--No Result-->
  <div class="container hidden">
  	<div class="col-md-12">
              <div class="error-template">
                  <h1>Oops!</h1>
                  <h2>No results found</h2>
                  <div class="error-actions">
                   <a href="#search-page" class="btn btn-primary btn-lg">
  					<span class="	glyphicon glyphicon-arrow-up"></span>
  					Search Again
  				</a>
                  </div>
              </div>
          </div>
  </div>

  <!---->
</section>
</body>
